<?xml version="1.0"?>
<launch>

<!-- Run the map server with a blank map -->
   <!--node name="map_server" pkg="map_server" type="map_server" args="$(find rbx1_nav)/maps/blank_map.yaml"/-->
  <remap from="cmd_vel" to="/summit_x/robot_control/command" />
  
  <!-- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find summit_xl_navigation)/config/move_base.yaml" command="load" />
    <rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find summit_xl_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find summit_xl_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find summit_xl_navigation)/config/global_costmap_params_map.yaml" command="load" />
    <rosparam file="$(find summit_xl_navigation)/config/base_local_planner_params.yaml" command="load" />
  </node>
    <!-- Run a static transform between /odom and /map -->
    <node pkg="tf" type="static_transform_publisher" name="odom_map_broadcaster"
args="0 0 0 0 0 0 /odom /map 100" />
  
</launch>




